<div class="container aboutMeContent">
    <div class="cards">
        <div class="card-items mr-22 mb-22">
            <h3>01</h3>
            <h3>Attention to Detail</h3>
            <p>Meticulous code analysis and optimization.</p>
        </div>
        <div class="card-items mb-22">
            <h3>02</h3>
            <h3>Adaptability</h3>
            <p>Swift learning of new technologies.</p>
        </div>
        <div class="card-items mr-22">
            <h3>03</h3>
            <h3>Problem Solver</h3>
            <p>Identifying and resolving issues.</p>
        </div>
        <div class="card-items">
            <h3>04</h3>
            <h3>Team Player</h3>
            <p>Collaborates and shares ideas.</p>
        </div>
    </div>
    <div class="aboutMeCard">
        <h2 class="mb-36">About Me</h2>
        <p>With over 5 years of experience, I'm proficient in HTML, CSS, JavaScript, jQuery, and React. I have a strong understanding of user experience design and accessibility. I'm always learning new technologies and techniques to stay up-to-date in the field.</p>
    </div>
</div>