<div class="container contactMeContent">
    <div class="contactMeItem1">
        <h2>CONTACT ME<img src="../assets/images/trending_flat_black_24dp 1.png" alt=""></h2>
        
    </div>
    <div class="contactMeItem2">
        <img src="../assets/images/discord.png" alt="">
        <img src="../assets/images/instagram.png" alt="">
        <img src="../assets/images/message.png" alt="">
    </div>
</div>