<div class="container IntroContent">
    <div class="Intro-item1">
        <h2>Introduction</h2>
        <p>Hi, I'm William Lee, a Front-End Developer with a passion for building beautiful and responsive websites that provide an optimal user experience.</p>
        <img src="../assets/images/sparkle-sm.png" alt="">
        <img src="../assets/images/sparkle-sm.png" alt="">
        <img src="../assets/images/sparkle-sm.png" alt="">
    </div>
    <div class="Intro-item2">
        <img class="mr-24" src="../assets/images/sparkle.png" alt="">
        <img class="mr-24" src="../assets/images/photographer.png" alt="">
        <img src="../assets/images/people-2.png" alt="">
    </div>
</div>