<div class="container ">
    <h2 class="myProjH2">My Projects</h2>
    <div class="myProjContent">
        <img class="ml-312 mr-24" src="../assets/images/Rectangle 10.png" alt="">
        <div class="projRightBlock">
            <div class="projTopArea mb-28">
                <img class="mr-24" src="../assets/images/Rectangle 15.png" alt="">
                <div class="projTopRightArea">
                    <p>I've worked on a variety of websites, including e-commerce sites, blogs, and landing pages. I take pride in creating clean, efficient, and user-friendly code.</p>
                    <div class="radius-seeMorebtn">
                        <a href="#"><p>SEE MORE<img src="../assets/images/arrow_outward-white.png" alt=""></p></a> 
                     </div>
                </div>
            </div>
            <div class="projButtomArea">
                <img class="mr-24" src="../assets/images/Rectangle 14.png" alt="">
                <img src="../assets/images/Rectangle 29.png" alt="">
            </div>

        </div>
    </div>
</div>