
<!-- <div class="container SayHiContent">
        
            <img class="peopleImg" src="../assets/images/people.png" alt="">
        
    
        
    <div class="myName"> 
        <h2>Hi <br> I’m a front-end developer</h2>
        <h1>William</h1>
        <div class="radius-contactbtn">
           <a href="#"><p>CONTACT ME<img src="../assets/images/arrow_outward.png" alt=""></p></a> 
        </div>
    </div>        
</div> -->
