.mw-416{
    max-width: 416px;
}
.mh-530{
    max-height: 530px;
} 
.mh-196{
    max-height: 196px;
} 
.mw-24{
    max-width: 24px;
}
.mh-24{
    max-height: 24px;
} 
.mw-526{
    max-width: 526px;
}

.ml-312{
    margin-left: 312px;
}
.mr-24{
    margin-right: 24px;
}
.mb-28{
    margin-bottom: 28px;
}

.myProjContent{
    display: flex; 
    padding-bottom: 160px;
    // max-width: 1296px;
    justify-content: center;
    img{
        width: 100%;
    }
}

.myProjH2{
    padding-top: 160px;
    // padding-left: 862px;
    margin-bottom: 16px;
    color: black;
    font-size: 64px; 
    width: 746px;
    margin-left: auto;
}

.projTopArea{
    display: flex;
}

.projTopRightArea{
    width: 636px;
    font-size: 16px; 
    color: #15161D;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.projTopRightArea p{
    font-size: 16px; 
}

.radius-seeMorebtn{
    background: #000000; 
    border-radius: 32px;
    text-align: center; 
    width: 185px;
}

.radius-seeMorebtn:hover{
    background: gray;  
}
 
.radius-seeMorebtn p{ 
    padding-left: 12px;
    padding-top: 24px;
    padding-right: 12px;
    padding-bottom: 24px;  
    display: flex;
    justify-content: center;
    color: white;

}
 
.radius-seeMorebtn a{
    text-decoration: none;
    color: white;
}

.projButtomArea{
    display: flex;
}